body{
    margin:0;
}

/* MAIN PAGE */

.page{
    display:flex;
    height:100vh;
    width:100%;
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    background:#1b7455;
}

/* LEFT SIDE */

.regleft{
    flex:1;
}

.regleft img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* RIGHT SIDE */

.regright{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#1b7455;
}

.regright h1,
.regright h4{
    color:white;
}

/* FORM */

.form-box{
    background:white;
    padding:35px;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
}

/* INPUT */

.input-field{
    display:flex;
    align-items:center;
    border-bottom:3px solid #ccc;
    padding:8px 0;
    margin-bottom:15px;
}
.input-field input{
    width: 100%;
}

.icon1{
    color:#999;
    margin-right:10px;
    cursor:pointer;
}

.input-field input{
    border:none;
    outline:none;
    flex:1;
    font-size:16px;
    background:transparent;
}

/* BUTTON */

.button-box{
    display:flex;
    justify-content:center;
}

.btn1{
    background:rgb(20,159,7);
    color:white;
    height:35px;
    font-size:medium;
    border:none;
    padding:0 20px;
    border-radius:20px;
}

/* TEXT */

.lorem{
    color:#373636;
}

.Login-button{
    text-decoration:underline;
}

/* SOCIAL */

.social1{
    display:flex;
    justify-content:center;
    gap:15px;
}

.logo1{
    height:40px;
    width:40px;
    border-radius:50%;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    cursor:pointer;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

/* MOBILE */

@media (max-width:768px){

.page{
    flex-direction:column;
}

.regleft{
    display:none;
}

.regright{
    width:100%;
    padding: 20px;
}

.form-box{
    width:90%;
    max-width:350px;
}

}